@font-face {
    font-family: "myFont";
    src: url("../fonts/YoungSerif-Regular.woff") format('woff');
}

@keyframes fadeInFlipFromTop {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes fadeInFromTop {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}

* {
    font-family: myFont;
    color: white;
}

body{
    background-color: #111111;
}

.scrollSnapContainer{
    border: blue 1px solid;
    position: absolute;
    width: 98%;
    height: 1680px;
    margin: 0;
    z-index: -1;
}

.scrollSnapLocation{
    scroll-snap-align: center;
    position: relative;
    flex-direction: column;
    border: red 1px solid;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    display: flex;
}

#topbar{
    width: 100%;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    opacity: 0;
    animation: 1s ease-out fadeIn 1500ms 1 forwards;
}

.topbarItem{
    height: auto;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    color: #d6d6d6;
    transition: 300ms ease-in-out;
    text-transform: capitalize;
}

.topbarItem:hover{
    background-color: white;
    color: black;
}

#banner{
    width: 100%;
    height: 500px;
    display: block;
}

#ipaf{
    margin: 10px;
    position: sticky;
    width: fit-content;
    top: 20px;
    z-index: 10;
}

.ipaf{
    text-transform: uppercase;
    position: relative;
    width: 20px;
    opacity: 0;
    text-align: center;
}

#ipaf0{
    animation: 300ms ease-in-out fadeInFlipFromTop 0s 1 forwards;
}
#ipaf1{
    animation: 300ms ease-in-out fadeInFlipFromTop 300ms 1 forwards;
}
#ipaf2{
    animation: 300ms ease-in-out fadeInFlipFromTop 600ms 1 forwards;
}
#ipaf3{
    animation: 300ms ease-in-out fadeInFlipFromTop 900ms 1 forwards;
}
#ipaf4{
    animation: 300ms ease-in-out fadeInFlipFromTop 1200ms 1 forwards;
}


.title{
    color: white;
    opacity: 0;
    text-transform: uppercase;
    position: absolute;
}

#title1{
    animation: 1s ease-out fadeInFromTop 0s 1 forwards;
    top: 200px;
    right: 310px;
}

#title2{
    animation: 1s ease-out fadeInFromTop 500ms 1 forwards;
    top: 200px;
    right: 160px;
}

#title3{
    animation: 1s ease-out fadeInFromTop 1s 1 forwards;
    top: 250px;
    right: 50px;
}

#div1 {
    text-align: center;
    text-transform: capitalize;
    float: bottom;
    color: white;
    opacity: 0;
    animation: 1s ease-out fadeInFromTop 1500ms 1 forwards;
}

#skillContainer {
    display: flex;
    clear: both;
    content: "";
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 800px;
    opacity: 0;
    animation: 2s ease-out fadeIn 2s 1 forwards;
}

#skillContainer:hover>.skill{
    width: 22%;
    background-color: #525252;
}

.skill{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 300ms ease-in-out;
    background-blend-mode: multiply;
    background-color: #c6c6c6;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.skill:hover {
    width: 34% !important;
    background-color: #ffffff !important;
    cursor: pointer;
}

.skill>h2{
    color: white;
    width: auto;
    height: auto;
    margin: 25px 0;
    transition: 200ms ease-in-out;
    text-transform: capitalize;
    text-align: center;
}

.skill:hover>h2{
    margin: 75px 0;
}

#credit{
    color: #a9a9a9;
    text-align: center;
    font-size: small;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}